.floor {
  height: 36px;
  width: 36px;
  position: relative;
  background-image:url("floor1.png");
}

#container {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid white;
}
.wall {
  height: 36px;
  width: 36px;
  background-image:url("wall1.png");
}
.skullWall {
  height: 36px;
  width: 36px;
  background: purple;
}
.row {
  display: flex;
}
.spikes{
    height: 36px;
    width: 36px;
    background-image:url("Tfog-1.png");
}
.darkClouds{
    height: 36px;
    width: 36px;
    background-image: url("Tfog-1.png");
   
}
.test{
  width:27px;
  height:36px;
  background-image:url("tops.png");
}
.tree{
    height: 36px;
    width: 36px;
    background-image:url("trees2b.png");
    
}
.start{
    height: 36px;
    width: 36px;
    background: chocolate;
}
.finish{
    height: 36px;
    width: 36px;
    background: blue;
}
.lava{
    height:36px;
    width:36px;
    background-image:url("lava.gif");

}
.nada{
  width:36px;
  height:36px;
  
}

.bloodPond{
    height:36px;
    width:36px;
    background: red;
}