body {
  background-color: royalblue;
  position: absolute;
  
}

.sBoard {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  /*position: relative;*/
  /*top: 350px;*/
  /*left: 600px;*/
  /*box-align: center;*/
}
#p2HP {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  position: relative;
  box-align: center;
  color: white;
}
#p1HP {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  position: relative;
  color: white;
  top: 17px;
}
#Daku {
  height: 200px;
  width: 180px;
  background-image: url("Raiden.gif");
  position: relative;
  top: 135px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#Akira {
  height: 200px;
  width: 121px;
  background-image: url("Akira.gif");
  position: relative;
  top: 135px;
}
#Priya {
  height: 200px;
  width: 172px;
  background-image: url("Priya1.gif");
  position: relative;
  top: 135px;
}
.Game {
  height: 336px;
  width: 1000px;
  border: 1px solid black;
  position: absolute;
  display: flex;
  justify-content: space-around;
  background: url("https://i.ibb.co/5xvjgx5/ezgif-com-resize-2.gif") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#SakuAttack {
  position: relative;
  top: 350px;
  border: 1px solid red;
}
#SakuPotion {
  position: relative;
  top: 350px;
  border: 1px solid red;
}
.turn {
  height: 20px;
  width: 60px;
  background: red;
  position: relative;
  top: 300px;
  left: 15px;
}
.commands {
  display: flex;
  position: Absolute;
  bottom: 180px;
  left: 300px;
  border: 1px solid red;
}
.atk {
  width: 75px;
  height: 30px;
}
.atk1 {
  width: 75px;
  height: 30px;
}
.aBtns {
  position: relative;
  position: relative;
  top: 340px;
  left: 250px;
}

.potions {
  height: 30px;
  width: 75px;
  border: 1px solid black;
  position: relative;
  top: 290px;
}

#Fighter1 {
  width: 75px;
  height: 50px;
  position: relative;
  border: 1px solid grey;
  background-image: url("gutsSmile.png");
}
#F1 {
  width: 75px;
  height: 50px;
  background-color: transparent;
  position: relative;
}
#Fighter2 {
  width: 50px;
  height: 70px;
  position: relative;
  border: 1px solid grey;
  background-image: url("evilarmor.jpg");
}
#F2 {
  width: 50px;
  height: 70px;
  background-color: transparent;
  position: relative;
}
#Fighter3 {
  width: 90px;
  height: 50px;
  position: relative;
  border: 1px solid grey;
  background-image: url("succubusicon.png");
}

submit {
  border: 1px solid white;
  background: silver;
  position: relative;
  top: 470px;
}
#result {
  position: relative;
  top: 435px;
  left: 100px;
  border: 1px solid white;
  padding: 0.5px;
  background: silver;
}
.charSelect {
  height: 100px;
  width: 25%;
  border: 1px solid black;
  position: absolute;
  top: 650px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: gold;
}
#contain {
  position: relative;
  left: 1100px;
  bottom: 200px;
  width: 400px;
  height: 300px;
  border: 1px solid black;
}