body{
    background-color: royalblue;
}
.sBoard {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  position: relative;
  top: 260px;
  left: 600px;
  box-align: center;
}
#p1HP {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  position: relative;
  box-align: center;
}
#p2HP {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  position: relative;

  top: 17px;
}
#Daku {
  height: 200px;
  width: 160px;
   background-image: url("Raiden.gif"); 
  position: relative;
  top: 135px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#Akira {
  height: 200px;
  width: 121px;
  background-image: url("Akira.gif");
  position: relative;
  top: 135px;
}
#Priya {
  height: 200px;
  width: 172px;
  background-image: url("Priya1.gif");
  position: relative;
  top: 135px;
}
.Game {
  height: 336px;
  width: 1000px;
  border: 1px solid black;
  position: absolute;
  display: flex;
  justify-content: space-around;
  background: url("https://i.ibb.co/5xvjgx5/ezgif-com-resize-2.gif") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.commands {
  display: flex;
  position: Absolute;
  bottom: 180px;
  left: 300px;
  border: 1px solid red;
}
.atk {
  width: 75px;
  height: 30px;
}
.aBtns {
  position: relative;
  position: relative;
  top: 340px;
  left: 250px;
}

.potions {
  height: 30px;
  width: 75px;
  border: 1px solid black;
  position: relative;
  top: 290px;
}

#Fighter1 {
  width: 75px;
  height: 50px;
  position: relative;
  border: 1px solid grey;
  background-image: url("gutsSmile.png");
}
#F1 {
  width: 75px;
  height: 50px;
  background-color: transparent;
  position: relative;
}
#Fighter2 {
  width: 50px;
  height: 70px;
  position: relative;
  border: 1px solid grey;
  background-image: url("evilarmor.jpg");
}
#F2 {
  width: 50px;
  height: 70px;
  background-color: transparent;
  position: relative;
}
#Fighter3 {
  width: 90px;
  height: 50px;
  position: relative;
  border: 1px solid grey;
  background-image: url("succubusicon.png");
}
#F3 {
  width: 90px;
  height: 50px;
  background-color: transparent;
  position: relative;
}

.charSelect {
  height: 100px;
  width: 25%;
  border: 1px solid black;
  position: absolute;
  bottom: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: gold;
}

/* 
///////level//////// */

.floor {
  height: 36px;
  width: 36px;
  position: relative;
  background-image: url("floor1.png");
}

#container {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid white;
}
.wall {
  height: 36px;
  width: 36px;
  background-image: url("wall1.png");
}
.skullWall {
  height: 36px;
  width: 36px;
  background-image: ("wall1.png");
}
.row {
  display: flex;
}
.spikes {
  height: 36px;
  width: 36px;
  background-image: url("Tfog-1.png");
}
.darkClouds {
  height: 36px;
  width: 36px;
  background-image: url("Tfog-1.png");
}
.test {
  width: 27px;
  height: 36px;
  background-image: url("tops.png");
}
.tree {
  height: 36px;
  width: 36px;
  background-image: url("trees2b.png");
}
.start {
  height: 36px;
  width: 36px;
  background: chocolate;
}
.finish {
  height: 36px;
  width: 36px;
  background: blue;
}
.lava {
  height: 36px;
  width: 36px;
  background-image: url("lava.gif");
}
.nada {
  width: 36px;
  height: 36px;
}

.bloodPond {
  height: 36px;
  width: 36px;
  background: darkred;
}

/* -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH"; */
